/*
0-480px: Small Phones 
480 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop


1em = 16px
*/
@keyframes enter-left {
  0% {
    left: 0; }
  100% {
    left: 100vw; } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100vh; }

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  word-spacing: 1px;
  line-height: 1.7;
  color: #9392a2;
  padding: 0; }

.heading-2 {
  font-size: 4.5rem;
  font-weight: 500; }

.heading-4 {
  font-size: 2.2rem;
  font-weight: 500;
  display: inline-block;
  padding: 0 1rem;
  color: #4267bd; }

.paragraph {
  color: #55555e;
  font-family: 'Muli', sans-serif;
  font-weight: 400; }
  .paragraph-2 {
    font-weight: 300; }
  .paragraph-3 {
    font-style: italic;
    font-weight: 300; }
  .paragraph-sub {
    color: #9392a2; }

.search {
  background-color: #fefefe;
  height: calc(100vh - 6rem);
  width: 100vw; }
  .search__box {
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65vw;
    border-radius: 5px;
    transition: all 0.3s; }
  .search__input {
    width: 100%;
    min-width: 30rem;
    font-size: 7vw;
    font-family: inherit;
    line-height: 1;
    padding-bottom: 1rem;
    color: #0733b5;
    background: none;
    border: none;
    border-bottom: solid 2px rgba(102, 135, 235, 0.8); }
    @media only screen and (max-width: 37.5em) {
      .search__input {
        width: 80vw; } }
    .search__input::placeholder {
      color: #f0f0f0;
      font-weight: 500; }
    .search__input:focus {
      outline: none;
      border-bottom: solid 2px #6687eb; }
  .search__info {
    font-size: 70%;
    font-weight: bold;
    color: #6687eb;
    display: block;
    margin: 0;
    padding: 1rem 0;
    text-align: right;
    width: 100%; }
  .search__top {
    background: #1e3799;
    height: 28rem;
    position: fixed;
    top: 0;
    z-index: 50; }
    .search__top-box {
      padding-top: 4rem;
      max-width: 55rem; }
    .search__top-input {
      font-size: 3rem;
      color: #f0f0f0;
      max-width: 55rem; }
      .search__top-input::placeholder {
        font-weight: 400; }

.search__suggestion {
  width: 100%;
  position: absolute;
  top: 100%;
  margin-top: 3rem; }
  .search__suggestion-list {
    width: 100%;
    text-align: center;
    padding: 0; }
  .search__suggestion-word {
    width: 25%;
    float: left;
    list-style: none;
    padding-bottom: 1rem;
    font-size: 110%; }
    .search__suggestion-word a {
      text-decoration: none;
      color: #4267bd; }
      .search__suggestion-word a:hover {
        color: #0733b5; }

.search__top-suggestion {
  margin-top: 1rem; }
  .search__top-suggestion .search__suggestion-word {
    font-size: 85%; }
    .search__top-suggestion .search__suggestion-word a {
      color: #d3d3d3; }
      .search__top-suggestion .search__suggestion-word a:hover {
        color: #6687eb; }

.result {
  width: 90vw;
  padding: 28rem 8vw 6rem 8vw;
  margin: 0 auto; }
  .result__heading {
    background: #f0f0f0;
    color: #0733b5;
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0 2rem; }
  .result__pronunciation {
    padding: 0 1rem;
    color: #6687eb;
    display: inline-block; }
  .result__content {
    padding: 1rem 0; }
  .result__list {
    padding-top: 2rem; }
  .result__item {
    list-style: square inside;
    margin: 1.5rem 0 1.5rem 4rem; }
    .result__item-detail {
      margin: 0.8rem 0 1rem 6rem; }
    .result__item-example {
      font-size: 95%;
      margin: 0.5rem 0rem 0.5rem 4rem;
      position: relative; }
      .result__item-example::before {
        content: "- ";
        position: absolute;
        left: -2rem;
        top: 0; }

.nav {
  width: 100vw;
  height: 6rem;
  background-color: transparent; }
  .nav__menu {
    position: fixed;
    top: 1.8rem;
    right: 6rem;
    z-index: 100; }
    .nav__menu li {
      list-style: none;
      display: inline-block;
      margin-left: 3rem; }
      .nav__menu li a {
        text-decoration: none;
        color: #d3d3d3;
        font-size: 1.4rem;
        text-transform: uppercase; }

.bg__shape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  opacity: 0.5; }

.bg__svg {
  width: 90vw;
  max-height: 90vh;
  position: absolute;
  margin: 0 5vw; }

#book-1 {
  position: absolute;
  bottom: 1rem;
  right: 0;
  width: 100vw; }
  @media only screen and (max-width: 56.25em) {
    #book-1 {
      min-width: 100rem; } }
  @media only screen and (max-width: 37.5em) {
    #book-1 {
      right: -30rem; } }

#book-2 {
  position: absolute;
  bottom: -2rem;
  left: -16rem;
  width: 12rem; }
  @media only screen and (max-width: 56.25em) {
    #book-2 {
      bottom: -11rem;
      left: -5rem; } }
