/*
0-480px: Small Phones 
480 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop


1em = 16px
*/
@keyframes enter-left {
  0% {
    left: 0; }
  100% {
    left: 100vw; } }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100vh;
  background-color: #fefefe; }

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  word-spacing: 1px;
  line-height: 1.7;
  color: #9392a2;
  padding: 0; }

.heading-2 {
  font-size: 4.5rem;
  font-weight: 500; }

.heading-4 {
  font-size: 2.2rem;
  font-weight: 500;
  display: inline-block;
  padding: 0 1rem;
  color: #4267bd; }

.heading-5 {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

.paragraph {
  color: #55555e;
  font-family: 'Muli', sans-serif;
  font-weight: 400; }
  .paragraph-2 {
    font-weight: 300; }
  .paragraph-3 {
    font-style: italic;
    font-weight: 300; }
  .paragraph-sub {
    color: #9392a2; }

.search {
  background-color: #fefefe;
  height: calc(100vh - 6rem);
  width: 100vw; }
  .search__box {
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65vw;
    border-radius: 5px;
    transition: all 0.3s; }
    @media only screen and (max-width: 37.5em) {
      .search__box {
        width: 80vw; } }
  .search__form {
    position: relative; }
  .search__input {
    width: 100%;
    min-width: 25rem;
    font-size: 7vw;
    font-family: inherit;
    line-height: 1;
    padding-bottom: 1rem;
    color: #0733b5;
    background: none;
    border: none;
    border-bottom: solid 2px rgba(86, 123, 231, 0.8); }
    @media only screen and (max-width: 37.5em) {
      .search__input {
        padding-bottom: 0.5rem;
        font-size: 8vw; } }
    .search__input::placeholder {
      color: #f0f0f0;
      font-weight: 500; }
    .search__input:focus {
      outline: none;
      border-bottom: solid 2px #567be7; }
  .search__info {
    font-size: 70%;
    font-weight: bold;
    color: #567be7;
    margin: 0;
    padding: 1rem 0;
    text-align: right;
    width: 100%;
    position: absolute; }
  .search__top {
    background: #1e3799;
    height: 16rem;
    position: fixed;
    top: 0;
    z-index: 50; }
    .search__top-box {
      padding-top: 6rem;
      width: 52rem; }
      @media only screen and (max-width: 56.25em) {
        .search__top-box {
          width: 47rem;
          left: 58%; } }
      @media only screen and (max-width: 37.5em) {
        .search__top-box {
          width: 60vw; } }
    .search__top-input {
      font-size: 3rem;
      color: #f0f0f0; }
      @media only screen and (max-width: 37.5em) {
        .search__top-input {
          font-size: 2.6rem; } }
      .search__top-input::placeholder {
        font-weight: 400; }
    .search__top-info {
      padding: 0.5rem;
      z-index: 10; }

.search__suggestion {
  width: 100%;
  position: absolute;
  top: 100%;
  z-index: -1; }
  .search__suggestion-list {
    width: 100%;
    text-align: center;
    padding-top: 5rem; }
  .search__suggestion-word {
    width: 25%;
    float: left;
    list-style: none;
    padding-bottom: 1rem;
    font-size: 110%; }
    @media only screen and (max-width: 37.5em) {
      .search__suggestion-word {
        width: 50%;
        line-height: 1.4; } }
    .search__suggestion-word a {
      text-decoration: none;
      color: #4267bd; }
      .search__suggestion-word a:hover {
        color: #0733b5; }

.search__top-suggestion {
  top: 100%;
  min-width: 25rem;
  background-color: #fefefe;
  border-radius: 0rem 0rem 0.2rem 0.2rem;
  box-shadow: 2px 2px 1rem rgba(85, 85, 94, 0.2); }
  .search__top-suggestion-list {
    padding-top: 3.5rem; }
  .search__top-suggestion .search__suggestion-word {
    font-size: 85%; }
    .search__top-suggestion .search__suggestion-word a {
      color: #d3d3d3; }
      .search__top-suggestion .search__suggestion-word a:hover {
        color: #0733b5; }

.result {
  width: 100vw;
  padding: 16rem 8vw 6rem 8vw;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .result {
      display: block; } }
  @media only screen and (max-width: 37.5em) {
    .result {
      padding: 14rem 2rem 6rem 2rem; } }
  .result__word {
    min-width: 36rem;
    height: 100%;
    position: fixed; }
    @media only screen and (max-width: 56.25em) {
      .result__word {
        position: relative;
        width: 100%; } }
  .result__heading {
    background: #f0f0f0;
    color: #0733b5;
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0 2rem; }
  .result__pronunciation {
    padding: 1rem 2rem;
    font-size: 2rem;
    color: #4267bd; }
    @media only screen and (max-width: 56.25em) {
      .result__pronunciation {
        padding: 1rem 1rem 0 1rem;
        display: inline-block; } }
  .result__speaker {
    padding-left: 0.5rem; }
    .result__speaker-svg {
      width: 2.4rem;
      fill: #567be7; }
      .result__speaker-svg:hover {
        fill: #4267bd; }
  .result__content {
    padding-left: 38rem; }
    @media only screen and (max-width: 56.25em) {
      .result__content {
        padding-left: 0; } }
  .result__list {
    padding-top: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .result__list {
        padding-top: 1rem; } }
  .result__item {
    list-style: square inside;
    margin: 1.2rem 0 1.2rem 4rem; }
    @media only screen and (max-width: 37.5em) {
      .result__item {
        margin: 1rem 1.5rem; } }
    .result__item-detail {
      margin: 0.8rem 0 0.8rem 6rem; }
      @media only screen and (max-width: 37.5em) {
        .result__item-detail {
          margin: 0.8rem 0 0.8rem 4rem; } }
    .result__item-example {
      font-size: 95%;
      margin: 0.5rem 0rem 0.5rem 4rem;
      position: relative; }
      @media only screen and (max-width: 37.5em) {
        .result__item-example {
          margin: 0.5rem 0rem 0.5rem 2rem; } }
      .result__item-example::before {
        content: "- ";
        position: absolute;
        left: -2rem;
        top: 0; }

.result__tab {
  margin: 3rem auto 0.5rem;
  width: 100%;
  height: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .result__tab {
      margin: 2rem auto 0; } }
  @media only screen and (max-width: 37.5em) {
    .result__tab {
      margin: 1rem auto 0; } }
  .result__tab-link {
    height: 100%;
    display: block;
    outline: none;
    border: none;
    background-color: inherit;
    color: #d3d3d3;
    cursor: pointer;
    padding: 1rem 2rem; }
    .result__tab-link:not(:last-child) {
      margin-right: 4rem; }
    .result__tab-link:hover {
      color: #FFCDB2; }
    .result__tab-link.active {
      color: #ff975f; }
    @media only screen and (max-width: 56.25em) {
      .result__tab-link {
        float: left;
        padding: 0rem 1rem; } }

.nav {
  width: 100vw;
  height: 6rem;
  background-color: transparent; }
  .nav__menu {
    position: fixed;
    top: 1.8rem;
    right: 6rem;
    z-index: 100; }
    .nav__menu li {
      list-style: none;
      display: inline-block;
      margin-left: 3rem; }
      .nav__menu li a {
        text-decoration: none;
        color: #d3d3d3;
        font-size: 1.4rem;
        text-transform: uppercase; }
  .nav__logo {
    width: 10rem;
    position: fixed;
    top: 1rem;
    left: 4rem;
    z-index: 100; }
    .nav__logo-res {
      opacity: 0.5;
      width: 8rem; }

.bg__shape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  opacity: 0.5; }

.bg__svg {
  width: 90vw;
  max-height: 90vh;
  position: absolute;
  margin: 0 5vw; }

#book-1 {
  position: absolute;
  bottom: 0rem;
  right: 0;
  width: 100vw; }
  @media only screen and (max-width: 56.25em) {
    #book-1 {
      min-width: 100rem; } }
  @media only screen and (max-width: 37.5em) {
    #book-1 {
      right: -30rem; } }

.logo__bg {
  position: absolute;
  bottom: 1rem;
  width: 90vw; }

#book-2 {
  position: absolute;
  bottom: -2rem;
  left: -15rem;
  width: 10rem; }
  @media only screen and (max-width: 56.25em) {
    #book-2 {
      width: 9rem;
      left: -11rem; } }
  @media only screen and (max-width: 37.5em) {
    #book-2 {
      width: 8rem;
      left: -10rem; } }
