// $color-bg-dark: #12183f;
// $color-bg-darker: #0b1132;
// $color-highlight: #c97b77;
// $color-cream:  rgba(244, 247, 245, 1);

// $color-gray:#9291a2;
//$color-gray: #d7ddea;



//$color-bg-dark: #e3e3e4;
$color-bg-light: #fefefe;
//$color-gray-1: #f2f2f2;
$color-gray: #ebebf0;
$color-gray-1: #f0f0f0;
$color-gray-2: #d3d3d3;
$color-gray-3: #9392a2;
$color-gray-4: #55555e;
// $color-blue: #0a3acb;
$color-blue: #0733b5;
$color-blue-3: #1e3799;
$color-blue-1: #4267bd;
$color-blue-2: #6687eb;
//$color-peach: #FFCDB2;
$color-cream:  rgba(244, 247, 245, 1);

