.result {
    width: 100vw;
    padding: 26rem 8vw 6rem 8vw;
    margin: 0 auto;

    @include respond(tab-land){
        display: block;
    }
    @include respond(phone){
        padding: 23rem 2rem 6rem 2rem;
    }

//left column    
    &__word {
        min-width: 36rem;
        height: 100%;
        position: fixed;
        @include respond(tab-port){
            position: relative;
            width: 100%;
        }
        //background-color: aqua;
    }
    &__heading {
        background: $color-gray-1;
        color: $color-blue;
        border-radius: 0.5rem;
        display: inline-block;
        padding: 0 2rem;
       //border-bottom: 2px solid $color-gray-2;
    }
    &__pronunciation {
        padding: 1rem 2rem;
        font-size: 2rem;
        color: $color-blue-1;
        @include respond (tab-port){
            padding: 1rem 1rem 0 1rem;
            display: inline-block;
        }
    }
    &__speaker {
        padding-left: 0.5rem;
        &-svg { 
            width: 2.4rem;
            fill: $color-blue-2;
            &:hover {
                fill: $color-blue-1;
            }
        }
    }

//right column
    &__content {
        padding-left: 38rem;
        @include respond (tab-port){
            padding-left: 0;
        }
    }
    // &__tab {
    //     width: 100%;
    //     background-color: black;
    //     margin: 1rem 0;
    //     &:first-child {
    //         border-right: solid 2px $color-gray-2;
    //     }
    // }
    &__list{
        padding-top : 2rem;
    }
    &__item {
        list-style: square inside;
        margin : 1.2rem 0 1.2rem 4rem;
        &-detail {
            margin: 0.8rem 0 0.8rem 6rem;   
        }
        &-example {
            font-size: 95%;
            margin: 0.5rem 0rem 0.5rem 4rem;
            position: relative;
            
            &::before {
                content: "- ";
                position: absolute;
                left: -2rem;
                top: 0;
                
            }
            
        }

    }

}