.result {
    width: 70vw;
    padding: 28rem 8vw 6rem 8vw;
    margin: 0 auto;
    @include respond(tab-port){
        width: 95vw;
    }
    @include respond(phone){
        padding: 23rem 2rem 6rem 2rem;
    }
    

    &__heading {
        background: $color-gray-1;
        color: $color-blue;
        border-radius: 0.5rem;
        display: inline-block;
        padding: 0 2rem;
       //border-bottom: 2px solid $color-gray-2;
    }
    &__pronunciation {
        padding: 0 1rem;
        color: $color-blue-2;
        display: inline-block;
    }
    &__content {
        padding: 1rem 0;
    }
    &__list{
        //background: red;
        padding-top : 2rem;
        
        
    }
    &__item {
        list-style: square inside;
        margin : 1.5rem 0 1.5rem 4rem;
        &-detail {
            margin: 0.8rem 0 1rem 6rem;   
        }
        &-example {
            font-size: 95%;
            margin: 0.5rem 0rem 0.5rem 4rem;
            position: relative;
            
            &::before {
                content: "- ";
                position: absolute;
                left: -2rem;
                top: 0;
                
            }
            
        }

    }

}