// button.active {
//     color: $color-blue;
// }
.result__tab {
    margin: 3rem auto 0.5rem;
    width: 100%;
    height: 4rem;
    //border-bottom: solid 1px $color-gray;
  // background-color:red;
    &-link {
        height: 100%;
        display: block;
        outline: none;
        border: none;
        background-color: inherit;
        color: $color-gray-2;
        cursor: pointer;
        padding : 1rem 2rem;
        &:not(:last-child){
            margin-right: 4rem;
        }
        &:hover {
            color :$color-peach;
        }
        &.active {
            color: $color-carrot;
        }

        @include respond (tab-port){
            float: left;
        }
        
    }
    
    &-content {
    }
}