.search {
    
    &__suggestion {
        width: 100%;
        position: absolute;
        top : 100%;
        margin-top: 3rem;
        
        &-list {
            width: 100%;
            text-align: center;
            //display: inline-block;
            padding: 0;
        }
        &-word {
            width: 25%;
            float: left;
            list-style: none;
            // background: #000;
            padding-bottom: 1rem;
            font-size: 110%;
            @include respond(phone){
                width: 50%;
                padding-left: 7rem;
                line-height: 1.4;
            }
            & a {
                text-decoration: none;
                color: $color-blue-1;
                &:hover{
                    color: $color-blue;
                }
            }
        }  
    } 

    &__top-suggestion {
        margin-top: 1rem;
        & .search__suggestion-word {
            font-size: 85%;
            & a {
                color: $color-gray-2;
                &:hover{
                    color: $color-blue-2;
                }
            }
        
        }
    }

}