.search {
    
    &__suggestion {
        width: 100%;
        position: absolute;
        top : 100%;
        z-index: -1;
        &-list {
            width: 100%;
            text-align: center;
            //display: inline-block;
            padding-top: 5rem;
            
        }
        &-word {
            width: 25%;
            float: left;
            list-style: none;
            // background: #000;
            padding-bottom: 1rem;
            font-size: 110%;
            @include respond(phone){
                width: 50%;
                line-height: 1.4;
            }
            & a {
                text-decoration: none;
                color: $color-blue-1;
                &:hover{
                    color: $color-blue;
                }
            }
        }  
    } 

    &__top-suggestion {
        top : 100%;
        min-width: 25rem;
        background-color: rgba($color-blue-4,0.98);
        border-radius: 0rem 0rem 0.2rem 0.2rem;
        box-shadow: 2px 2px 1rem rgba($color-blue,0.5);
        &-list{
            padding-top: 3.5rem;
            
        }
        & .search__suggestion-word {
            font-size: 85%;
            & a {
                color: $color-gray-2;
                &:hover{
                    color: $color-blue-2;
                }
            }
        
        }
    }

}