.search {
    &__suggestion {
        width: 75vw;
        position: absolute;
        top : 100%;
        margin-top: 3rem;
        
        &-list {
            width: 100%;
            text-align: center;
            //display: inline-block;
            padding: 0;
        }
        &-word {
            width: 25%;
            float: left;
            list-style: none;
            // background: #000;
            padding-bottom: 1rem;
            
            & a {
                text-decoration: none;
                color: $color-blue-1;
                &:hover{
                    color: $color-blue;
                }
            }
        }  
    } 

}