

#book-2 {
    position: absolute;
    bottom: -2rem;
    left: -12rem;
    width: 9rem;
    @include respond(tab-port){
        width: 8rem;
        left: -10rem;
    }
    @include respond(phone){
        width: 7rem;
        left: -9rem;
    }
}
