

#book-2 {
    position: absolute;
    bottom: -2rem;
    left: -15rem;
    width: 10rem;
    @include respond(tab-port){
        width: 9rem;
        left: -11rem;
    }
    @include respond(phone){
        width: 8rem;
        left: -10rem;
    }
}
